<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="./css/kefu.css">
</head>
<body style="height:3000px">
<!--在线客服  -->
<div class="scrollsidebar" id="scrollsidebar">
  <div class="side_content">
    <div class="custom_service">
        <p> <a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&uin=857727083&site=qq&menu=yes" target="_blank"><img src="http://wpa.qq.com/pa?p=2:8983659:41"></a> </p>
        </div>
  </div>
  <div class="show_btn"><span>在线客服</span></div>
</div>
<script type="text/javascript" src="./js/kefu.js"></script>
</body>
</html>